* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body, #app, #app>div {
  height: 100%;
  width: 100%;
}

#App {
  display: flex;
  flex-direction: column;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageWrap {
  height: calc(100vh);

  display: grid;
  /* grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);*/
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 4fr 4fr;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, p.time {
  font-size: 0.8em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

Header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(90, 22, 22);
  padding-left: 1em;
  padding-right: 1em;
}

#inputSection {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  background-color: darkslategray;

  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}

#outputSection {
  grid-column: 1 / 5;
  grid-row: 3 / 5;
  background-color: #3c3c3c;

  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}

#statsSection {
  grid-column: 5 / 6;
  grid-row: 1 / 5;
  background-color: brown;

  padding: 1em;
}

button.big {
  grid-column: span 1;
  grid-row: span 2;
}

button .small {
  grid-column: span 1;
  grid-row: span 1;

}